body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  background-color: #000;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.custom-cursor {
  cursor: url("/cursors/arrow.cur"), auto;
}

.custom-cursor button,
.custom-cursor a,
.custom-cursor input[type="range"],
.pointer,
body.hovering-3d,
body.hovering-3d .custom-cursor {
  cursor: url("/cursors/hand.cur"), pointer !important;
}
