.custom-cursor{cursor:url(/cursors/arrow.cur),auto}.custom-cursor button,.custom-cursor a,.custom-cursor input[type=range],.pointer,body.hovering-3d,body.hovering-3d .custom-cursor{cursor:url(/cursors/hand.cur),pointer!important}
